    .center-block {
    	display: block;
    	margin-right: auto;
    	margin-left: auto;
    }
    .inline-block {
    	display: inline-block;

    }
    .todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 700px;
  min-height: 700px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
   
    rgba(100, 16, 25, 1) 0%,
    rgba(10, 115, 500, 1) 150%
    
  );
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}


.todo-button {
  padding: 10px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(10, 2, 255, 1) 0%,
    rgba(15, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}
.complete {
  text-decoration: line-through;

  opacity: 0.4;
}
